.container {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.album-list,
.track-list {
  margin: 2rem;
  width: 50%;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .album-list,
  .track-list {
    width: 100%;
  }
}
