.list-view {
  position: relative;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.list-view div {
  margin: 1rem;
}

.link {
  text-decoration: none;
  color: grey;
}

.btn-wrapper {
  position: absolute;
  bottom: 0;
}
