.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}
.info {
  flex: 1;
}

.title {
  border-bottom: 1px solid #5ad67d;
}

.sub-info p {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.sub-content p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

@media (max-width: 500px) {
  .artist {
    flex-direction: column;
  }
  .artist img {
    width: 150px;
    height: 150px;
  }
}
